<div class="container">
  <app-loading-for [loadingForValue]="exerciseData">
    <div class="exercise-card light-shadow">
      <p class="exercise-card__translation">{{exerciseData?.translation}}</p>
      <div class="exercise-card__answer-cells">
        <li class="exercise-card__answer-cells__cell" *ngFor="let word of exerciseData?.sentence" [value]="word[0]">
        </li>
      </div>
      <div class="exercise-card__sentence-words">
        <span class="exercise-card__sentence-words__word light-shadow" *ngFor="let word of exerciseData?.sentence; let i = index" (touchmove)="moveWord($event, i)" (touchend)="stopMoveWord($event, i)">{{word}}</span>
      </div>
      <app-button (click)="handleAnswer()">Проверить</app-button>
    </div>
  </app-loading-for>
</div>
<app-modal [isModalOpen]="answerStatus != 'not-answered'">
  <app-exercise-answer-card [answerStatus]="answerStatus" (exerciseReseted)="resetExercise()"/>
</app-modal>

