@import "./../../../styles";

.exercise-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $color-light-gray;
  border-radius: 1em;
  padding: 1.5em 1em;
  font-size: 1.75rem;

  fa-icon {
    font-size: 6rem;
    color: $color-gray;
  }

  span {
    font-weight: 500;
  }
}
