@import "./../../../styles";

:host {
  display: contents;
}

.answer-card {
  background-color: #FFF;
  width: max-content;
  max-width: 95dvw;
  max-height: calc(100% - 4em);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 1em;
  padding: 1em;
  margin: auto auto;

  .answer-card__result {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    fa-icon {
      color: $color-agree;
      font-size: 3rem;
    }

    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .answer-card__result--incorrect {
    fa-icon {
      color: $color-deny;
    }
  }

  .answer-card__buttons {
    display: flex;
    width: 100%;

    app-button {
      width: 50%;
    }
  }
}
