<div class="container">
  <app-loading-for [loadingForValue]="exerciseData">
    <div class="exercise-card light-shadow">
      <div class="exercise-card__answer-cells">
        <div class="exercise-card__answer-cells__cell" *ngFor="let word of exerciseData?.translations; let i = index">
          <span class="exercise-card__answer-cells__cell__translation">{{word}}</span>
          <li class="exercise-card__answer-cells__cell__slot" [value]="word"></li>
        </div>
      </div>
      <div class="exercise-card__sentence-words">
        <span class="exercise-card__sentence-words__word light-shadow" *ngFor="let word of exerciseData?.words; let i = index" (touchmove)="moveWord($event, i)" (touchend)="stopMoveWord($event, i)">{{word}}</span>
      </div>
      <app-button (click)="handleAnswer()">Проверить</app-button>
    </div>
  </app-loading-for>
</div>
<app-modal [isModalOpen]="answerStatus != 'not-answered'">
  <app-exercise-answer-card [answerStatus]="answerStatus" (exerciseReseted)="resetExercise()"/>
</app-modal>

