@import "./../../../../styles";

.exercise-card {
  border: 1px solid $color-light-gray;
  border-radius: 1em;
  max-width: 75%;
  margin: auto auto;
  font-size: 1.5rem;
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  .exercise-card__audio {
    display: flex;
    flex-direction: column;
    align-items: center;

    fa-icon {
      color: $color-light-gray;
      font-size: 2rem;
    }
  }

  .exercise-card__answer {
    input {
      border: 1px solid $color-light-gray;
      border-radius: 1em;
      font-size: 1.2rem;
      padding: .5em 1em;
    }
  }
}

.answer-modal {
  position: absolute;
  z-index: 100;
  width: 100dvw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;

  transition: all .5s ease-in;
  background-color: rgba(0, 0, 0, 0);

  .answer-modal__content {
    transition: all .5s ease-in;
    position: relative;
    width: 100%;
    height: 100%;
    top: 100dvh;
  }
}

.answer-modal--active {
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  transition: all .5s ease-in;
  visibility: visible;

  .answer-modal__content {
    transition: all .5s ease-in;
    top: 0;
  }
}
