@import "./../../../styles";

button {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.4em 2em;
  border: 1px solid;
  border-radius: 1em;
  border-color: none;
  background-color: $color-primary-200;
  color: $color-white;
  font-weight: 500;
}

.theme-primary {
  background-color: $color-primary-200;
}

.theme-accept {
  background-color: $color-agree;
}

.theme-deny {
  background-color: $color-deny;
}

.theme-neutral {
  background-color: $color-gray;
}

.theme-secondary {
  background-color: $color-white;
  border-color: $color-gray;
  color: $color-black;
}

