<div class="achievement">
  <img class="achievement__badge" [src]="'./assets/images/sbt/' + achievementData.id + '.png'" alt="Achievement badge">
  <span class="achievement__name">{{achievementData.name}}</span>
  <p class="achievement__progress">статус: <span [class]="'achievement__progress__status' + (achievementData.is_completed? ' achievement__progress__status--completed':'')">{{achievementData.is_completed ? "выполнено": "не выполнено"}}</span></p>
  <app-button [size]="'small'" [colorTheme]="achievementData.is_sbt_claimed || !achievementData.is_completed ? 'neutral': 'primary'" class="achievement__sbt-claim-button" (click)="claimSBT()">Получить SBT</app-button>
  <span class="achievement__description-button" (click)="showAchievementDescription()">?</span>
</div>
<app-modal [isModalOpen]="isModalOpened">
  <div class="tx-status-modal">
    <app-loading-for [loadingForValue]="txStatus !== undefined">
      <div class="tx-status-modal__content">
        <ng-container *ngIf="txStatus; else txFailed">
          <fa-icon class="tx-status-modal__content__icon--success" [icon]="faCircleCheck"/>
          <p class="tx-status-modal__content__status">Транзакция прошла успешно. <br>Проверьте свой кошелек.</p>
          <p class="tx-status-modal__content__tonviewer">Просмотреть транзакцию: <a class="" (click)="openLink('http://testnet.tonviewer.com/transaction/' + txHash)">Ton Viewer</a></p>
        </ng-container>
        <ng-template #txFailed>
          <fa-icon class="tx-status-modal__content__icon--failure" [icon]="faCircleXmark"/>
          <p class="tx-status-modal__content__status">Упс... Что-то пошло не так.</p>
          <p class="tx-status-modal__content__tonviewer">Просмотреть транзакцию: <a class="" (click)="openLink('http://testnet.tonviewer.com/transaction/' + txHash)">Ton Viewer</a></p>
        </ng-template>
      </div>
      <app-button (click)="closeModal()">Закрыть</app-button>
    </app-loading-for>
  </div>
</app-modal>
