@import "./../../../styles";

@keyframes spin {

  100% {
    transform: rotate(360deg);
  }
}

.rotating {
  width: max-content;
  margin: auto auto;
  color: $color-light-gray;

  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

  position: relative;
}

.size-small {
  font-size: 1rem;
}

.size-medium {
  font-size: 2rem;
}

.size-large {
  font-size: 3rem;
}


