@import "./../../styles";

.profile-card {
  max-width: 400px;
  width: max-content;
  margin: auto auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75em;
  border: 1px solid $color-light-gray;
  border-radius: 2em;

  -webkit-box-shadow: 0px 0px 200px -83px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 200px -83px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 200px -83px rgba(0,0,0,0.75);


  .profile-card__avatar {
    object-fit: cover;
    object-position: 50% 50%;

    img {
      max-width: 100%;
      vertical-align: middle;
      font-style: italic;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .profile-card__name {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  .profile-card__credentials {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: .5em;
    font-size: 1rem;

    p {
      font-weight: 700;
      color: $color-gray;
    }

    span {
      font-weight: 500;
    }
  }
}
