@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$color-black: #000;
$color-gray: #5F5B6B;
$color-light-gray: #C1BDB3;
$color-white: #FFF;
$color-primary: #089beb;
$color-primary-200: #4EBDF9;
$color-attention: #C2E812;
$color-agree: #4DAA57;
$color-deny: #F46036;
$color-purple-gray: #1d2633;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body {
  height: 100dvh;
  background-color: $color-white;
  overflow: hidden;
}

.container, %container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2em 0;
}

.light-shadow {
  -webkit-box-shadow: 0px 0px 200px -83px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 200px -83px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 200px -83px rgba(0,0,0,0.75);
}
